@font-face {
  font-family: 'BoschSans';
  src: url('/Font/boschsans-complete/boschsans-v5_003/fonts-woff2/BoschSans-Regular-v5_003.woff2') format('woff2'),
    url('/Font/boschsans-complete/boschsans-v5_003/fonts-woff/BoschSans-Regular-v5_003.woff') format('woff'), ;
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-color: #000000;
  --bg-color: #FFFFFF;
  --bosch-logo: black;
  --bosch-text: red;
}

.dark:root {
  --text-color: #FFFFFF;
  --bg-color: #232628;
  --bosch-logo: white;
  --bosch-text: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'BoschSans';
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

html {
  scroll-behavior: smooth;
}